@{
  Layout = "_Layout";
}

@model Food.Models.Cuisine

<h1>Cuisine Details: </h1>
<h2>Cuisine Name: @Html.DisplayFor(model => model.CuisineName)</h2>

<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId}) </p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new {id = Model.CuisineId})</p>
<p>@Html.ActionLink("Back to cuisine list", "Index")</p>
<p>@Html.ActionLink("Add restaurant", "Create", "Restaurants")</p>