@{
  Layout = "_Layout";
}

@model Food.Models.Restaurant

<h1>Add a new restaurant </h1>


@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.RestaurantName)
    @Html.TextBoxFor(model => model.RestaurantName)

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

<input type="submit" value="Add new restaurant" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all restaurants", "Index")</p>