@{
  Layout = "_Layout";
}

@using Food.Models
@model List<Food.Models.Restaurant>;

<h1>List of Restaurants:</h1>

@if (@Model.Count == 0)
{
  <h3>No restaurants have been added yet!</h3>
}

@foreach (Restaurant restaurant in Model)
{
  <li>@Html.ActionLink($"{restaurant.RestaurantName}", "Details", new { id = restaurant.RestaurantId }) | Cuisine Type: @restaurant.Cuisine.CuisineName</li>
}

@using (Html.BeginForm("Search", "RestaurantsController", FormMethod.Post)){    
     <p> Title: @Html.TextBox("SearchString") <br />   
     <input type="submit" value="Filter" /></p> 
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

public DataTable Test(string connectionString)
    {
        DataTable table = null;
        try
        {
            using (SqlConnection connection = new SqlConnection(connectionString))
            {
                connection.Open();

                SqlCommand cmd = connection.CreateCommand();
                cmd.CommandText = @"SELECT ID, UnitType, UnitSN, StatusCode, Priority
                                    FROM Units
                                    WHERE UnitSN = @inputTB;";

                cmd.Parameters.Add(new SqlParameter(@"inputTB", inputTB.Text));

                using (SqlDataAdapter adapter = new SqlDataAdapter(cmd))
                {
                    table = new DataTable();
                    adapter.Fill(table);
                }
            }
        }
        catch(Exception ex)
        {
           //handle the caught exception 
        }
        return table;
    }